
@import './theme.less';

// Global
:root {
  --progress-height: 16px;
  font-size: 20px;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.ant-layout-rtl {
  @font-family: 'Markazi Text', 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
* {
  margin: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  min-height: 500px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input {
  background: black;
  color: @text-color;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid #222;
  border-radius: 10px;
  padding: 2px 8px;
}
h1,h2,h3,h4,h5,h6,strong,b {
    font-weight: 700;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.Nav input {
  text-align: center;
  border: none;
}

.Main {
max-width: 1200px;
margin: 0 auto;
padding: 0 10px;
min-height: calc(100vh - 104px);
display: block;
}
.Now h1 {
  font-size: 3rem;
  margin: 0; 
}
.Now .description {
  margin: 0;
  line-height: 22px;
}
.Now Col {
  text-align: center;
}
.Now img {
  margin: 0 auto;
}
.Footer {
  font-size: 14px;
  padding: 20px;
  padding-top: 5px;
}
/* Shared */
.primary {
  color: @primary-color;
}
.secondary {
  color: @secondary-color;
}
.medium {
  height: 128px;
  width: 128px;
}
.small {
  height: 48px;
  width: 48px;
}
.progress {
  height: var(--progress-height);
  border-radius: 15px;
  overflow: hidden;
  margin: 10px 0;
}
.progress .bar {
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.progress .fill {
  height: 100%;
  width: 90vw;
  background: @primary-color;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(90deg,  @primary-color, @secondary-color);
}
.ant-col-rtl .progress .fill {
  background: linear-gradient(270deg,  @primary-color, @secondary-color);
}
.progress .loading {
  height: 100%;
  width: 90vw;
  background: @primary-color;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(270deg, @secondary-color, @primary-color, @secondary-color, @primary-color);
  background-size: 300%; 
  -webkit-animation: loading 3s infinite;
  -moz-animation: loading 3s infinite;
  animation: loading 3s infinite;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: @popover-background;
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
  margin-bottom: 20px;
  min-height: 168px;
}
.alert {
  margin-bottom: 1rem;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.nomargin {
  margin: 0;
}
@-webkit-keyframes loading {
  0%{background-position:0% 50%}
  100%{background-position:100% 50%}
}
@-moz-keyframes loading {
  0%{background-position:0% 50%}
  100%{background-position:100% 50%}
}
@keyframes loading {
  0%{background-position:0% 50%}
  100%{background-position:100% 50%}
}
