@primary-color: #4bcff9;
@secondary-color: #e7d9f0;
@popover-background: #161720;
@font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;